<a href="https://colab.research.google.com/github/maheshnaidu65/Collaborative-recommendation-engine/blob/master/colab_restaurant.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Collaborative filtering based recommendation engine
#### This work suggests items based on the ratings given to an item by other users. 
####The idea behind this solution is that users who rated an item in a certain manner may rate another item in a similar manner, describing their preferences. 
#### This new item can be recommended to the user who liked the first item

In [0]:
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix

In [0]:
#import of Dataset
data = pd.read_csv(r'rating_final.csv')

In [44]:
data.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In this recommendation engine, I have taken food_rating values into consideration. All the three attributes could be utilized to design an efficient recommendation engine. For the purpose of modeling, I have created a matrix with the rows representing vectors containing the ratings given by each user. In case of NaN, the value of 0 is substituted.

In [0]:
food_rating_pivot = data.pivot(index = 'placeID',columns = 'userID', values = 'food_rating').fillna(0)

**Fitting a kNN model**

In [98]:
food_rating_pivot_matrix =csr_matrix(food_rating_pivot.values)

from sklearn.neighbors import NearestNeighbors
model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(food_rating_pivot_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

Nearest neighbors of a randomly selected restaurant, represented by placeID, are generated in this step .The cosine values of a selected item with respect to all other items is generated.

In [0]:
query_index = np.random.choice(food_rating_pivot.values.shape[0])
distances, indices  = model_knn.kneighbors([food_rating_pivot.iloc[query_index,:]], n_neighbors = 6)

**Result**

In [94]:
print("recommendations for %s are:" % food_rating_pivot.index[query_index])

for i in range(0,len(distances.flatten())):
               print(food_rating_pivot.index[indices[0,i]])

recommendations for 132834 are:
132834
135052
132825
135060
135042
135041

Please note that the data is anonymized hence, the Restaurants are represented by numbers